.portfolio {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio .card {
  background-color: #27272a;
  flex-direction: column;
  border: 2px solid transparent;
  overflow: hidden;
  display: flex;
  height: 30rem; 
  border-radius: 15px;
  align-items: stretch;
  transition: all 0.3s ease;
}

.portfolio .card:hover {
  background-color: #323232;
  border-color: rgb(255, 127, 38);
}

.portfolio .image {
  width: 100%;
  height: 80%; 
  min-height: 24rem;
  overflow: hidden;
}

.portfolio .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); 
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 4rem;
  line-height: 2;
  transition: bottom 0.4s ease, opacity 0.4s ease;
  font-size: 0.9rem;
  opacity: 0; 
}

.portfolio .image:hover .description {
  bottom: 19%;
  opacity: 1;
}

.link-github {
  height: 20%; 
  display: flex;
  justify-content: center;
  align-items: center;
}