@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #18181B;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
}

nav {
  position: fixed;
  top: 0;
  padding: 0 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #27272a;
  z-index: 1000
}

.nav-logo {
  max-width: 100px;
}

 /* IMAGES */

.nav-logo-home {
  max-width: 100px;
  cursor: pointer;
}

.nav-logo-philips {
  max-width: 100px;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links-home {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 127, 38);
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 100%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #1e40af;
}

.btnShow {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btnShow:hover {
  background-color: #1e40af;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1rem;
  font-weight: 600;
}

.ri-menu-line {
  display: none;
}

header .content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content p {
  margin-bottom: 2rem;
  color: #ccc;
}

header .image {
  position: relative;
  align-items: center;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

.headeraboutme, .headerskills, .headerportfolio, .headerexperiences {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.name {
  color: rgb(255, 127, 38);
}

 .flex-container {
  display: flex;
}

.nav-logo-philips {
  flex: 0 0 auto;
  margin-right: 50px;
}

.nav-logo-philips img {
  max-width: 100%;
  height: auto;
}

.text {
  flex: 1;
}

.link-github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.link-github a {
  color: #fff;
  background-color: #1d4ed8;
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.link-github a:hover {
  background-color: #1e40af;
  transition: all 0.3s ease;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials a {
  color: #fff;
  background-color: #1d4ed8;
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.socials a:hover {
  background-color: #1e40af;
  transition: all 0.3s ease;
}

.job {
  color: #fff;
}

.personal-projects {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ccc;
}

.card i {
  margin-top: 20%;
  justify-content: center;
  align-items: center;
}

 /* SKILLS */

 .skills {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
}

.skills .card {
  background-color: #27272a;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border: 2px solid transparent;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s ease;
  height: 12rem; 
}

.skills .card:hover {
  background-color: #323232;
  border-color: rgb(255, 127, 38);
}

.skills h3 {
  margin-bottom: 20%;
  color: #fff;
  text-align: center;
}

.skills i {
  font-size: 4rem; 
  color: #fff;
  margin-bottom: 1rem; 
}

 /* PORTFOLIO */

.portfolio {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio .image {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.portfolio .image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.portfolio .card {
  background-color: #27272a;
  flex-direction: column;
  border: 2px solid transparent;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  align-items: stretch;
  transition: all 0.3s ease;

}

.portfolio .card:hover {
  background-color: #323232;
  border-color: rgb(255, 127, 38);
}

.portfolio .link-github {
  justify-content: center; 
  align-items: center; 
  height: 20%; 
}

 /* EXPERIENCES */

.experiences {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.experiences .card {
  padding: 2rem 2rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  align-items: center;
}

.experiences .card:hover {
  background-color: #323232;
  border-color: rgb(255, 127, 38);
}

.experiences .card p {
  color: #fff;
  margin-bottom: 0.75rem;
  text-align: justify;
}

.justify {
  text-align: justify;
}

 /* ABOUT ME */

.aboutme {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.aboutme .card {
  padding: 2rem 2rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  align-items: center;
}

.aboutme .card:hover {
  background-color: #323232;
  border-color: rgb(255, 127, 38);
}

.aboutme .card p {
  color: #fff;
  margin-bottom: 0.75rem;
  text-align: justify;
}

 /* COPYRIGHT */

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  padding-bottom: 30px;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.home {
  padding-top: 100px;
}

 /* MOBILE */

#menu-icon {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  background-color: #27272a;
  margin-left: auto;
  margin-right: 5%;
}

.nav-links-home-menu {
  display: none;
  background-color:#18181B;
  top: 0;
  right: 0;
  width: 70%;
  text-align: center;
  height: 99999999px;
  list-style: none;
  position: fixed;
  z-index: 99999999;
}

.nav-links-home-menu.show-menu {
  display: block;
}

#btn-close {
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  background-color:#18181B;
  position: absolute;
  top: 10px; 
  left: 10px; 
}

#btn-close:hover {
  color: rgb(255, 127, 38);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%; 
  height: 99999998px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 99999998; 
}

.overlay.show-overlay {
  display: block;
}

.linkMenu:not(:first-child) {
  margin-top: 5rem; 
}

.linkMenu {
  margin-bottom: 5rem;
  white-space: nowrap; 
}

.linkMenu a {
  color: #fff;
  text-align: left;
}

.linkMenu a:hover {
  color: rgb(255, 127, 38);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Language Modal Styles */
.language-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); 
  background-color: #27272a;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.language-modal.show {
  opacity: 1; 
  visibility: visible; 
  transform: translate(-50%, -50%) scale(1); 
}

.language-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.5s ease; 
}

.language-modal-overlay.show {
  opacity: 1;
  visibility: visible; 
}

.language-modal h3 {
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.language-modal .btn {
  margin: 0.5rem auto;
  width: 100%;
}
  

@media (width < 1280px) {

  .skills .card {
    max-width: 100%;
  }

  .portfolio .card {
    margin-left: 10%;
    margin-right: 10%;
  }

}

@media (width < 1200px) {
  nav {
    padding: 0 2.5%;
    transition: .1s;
  }

  header .image img {
    max-width: 500px;
    padding-top: 60px;
  }

  header .image {
    grid-area: 1/1/2/2;
  }

  .home {
    text-align: center;
    padding-top: 0px;
  }

  .socials {
    align-items: center;
    justify-content: center;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (width < 900px) {
  header {
    grid-template-columns: repeat(1, 1fr);
  }

  header .image img {
    max-width: 400px;
  }

  .link {
    position: relative;
    padding-bottom: 0.75rem;
  }

  .skills .card:nth-child(2n+1) {
    margin-left: 10%;
  }

  .skills .card:nth-child(2n) {
    margin-right: 10%;
  }

  .skills {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    grid-template-columns: 1fr 200px;
  }

}

@media (width < 750px) {
  .link {
    display: none;
  }

  #menu-icon{
    display: block;
  }

  .nav-links-home-menu {
    display: none;
  }
}

@media (width < 600px) {

  .skills i {
    font-size: 3rem; 
  }

  .skills h3 {
    font-size: 1rem;
  }

  header .image img {
    max-width: 300px;
  }

  .portfolio .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .aboutme .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .experiences .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav-logo-philips {
    display: none;
  }

  .portfolio {
    grid-template-columns: repeat(1, 1fr);
  }
}